// @import "page";

%blog-panel {
	box-shadow: 0 1px 4px #0002;
	border-radius: 3px;
	margin-bottom: 1.5em;
	padding-bottom: 2em;
}

.content {
	.blog-page {
		@extend .page;
		// max-width: $desktop;

		h1 {
			margin-bottom: 0em;
		}
	}

	.side-bar {
		margin-left: 1em;
		margin-top: -0.75rem;
		@extend %blog-panel;
		padding: 1em;
		padding-top: 2em;
	}
	
	.main-column {
		@extend %blog-panel;

		@media screen and ( min-width: $tablet ) {
			padding: 2em;
		}
	}
	
	.blog-entry-card {
		.entry-card {
			@extend %blog-panel;
		
			h2 {
				margin: 0;
				padding: 1em 1em;
				font-size: 2em;
				text-align: left;
	
				&:hover {
					transition: 0.1s;
					color: $dark-blue;
				}
			}
		
			.image-container {
				cursor: pointer;
				margin-bottom: 1em;
				&:hover {
					transition: 0.2s;
					transform: scale(1.03);
				}
			}
		
			p {
				text-align: left;
			}
	
			p:last-child {
				color: darkgray;
				padding: 0em 1em;
			}
		}
	}
	
	.blog-main {
		blockquote {
			background-color: $light-blue;
			margin-top: 1em;
			border: 4px solid $soft-blue;
			border-radius: 10px;
			h2 {
				font-style: normal;
				color: $main-blue;
			}
		}
	}

	.wish-to-go {

		.trip-planner{
			// .wish-to-go.trip-panel
			// 	// .column
			// 	// 	padding: 0
			.login-provider-buttons {
				.button {
					justify-content: unset;
					display: unset;
				}
				.column {
					padding: 0
				}
			}
		}
		
		.view-panel {
			.controller-container {
				box-sizing: unset;
			}
		}
		
		.wish-counter-widget {
			font-size: 20pt;
		}
		
		.share-trip-widget {
			margin: 4em auto; 
		}
	}
}

.stick-to-bottom {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 100;
}


