@import "style";

.navbar {

	@media screen and (max-width: $desktop - 1 ) {
		.is-active {
			background-image: $navbar-burger-panel-background-image;
			
		}
		
		.navbar-burger {
			background-image: unset;
		}
	
		.navbar-item {
			color: $white-ter;
			&:hover {
				color: black;
			}
		}
	}
}
