// @import "base";

.content {
	
	.page {
		@extend .container;
		@extend .section;

		.content {
			@extend %inner-content;
		}

		h1 {
			background-color: $main-blue;
			color: $white;
			margin: -2em -100% 2em -100%;
			padding: 3em 100% 2em 100%;
		}

		blockquote {
			h1, h2 {
				margin: unset;
				padding: unset;
				color: unset;
				background-color: unset;
			}

			h1 {
				font-size: 2.5rem;
			}

			h2 {
				font-size: 2rem;
			}

			// blockquote {
				border-left: 0.5em solid $light-blue;
				font-style: oblique;
				font-weight: 200;
			// }
		}
	}

	.markdown-block {

		ul {
			margin-bottom: 1.5em;
			
			li p {
				margin-bottom: 0.3em;
			}
			
			ul ul {
				list-style-type: "- " !important;
			}

			li li {
				margin-bottom: 0em;
				margin-top: 0em;
			}
		}

		h4 {
			margin-top: 1.3em;
			margin-bottom: 0.5em;
		}

	}

	.footnotes ol li p {
		display: inline;
	}

	.footnotes ol li {
		margin-bottom: 1em
	}

}