@charset "utf-8";

@import "~bulma/bulma.sass";  // cSpell: disable-line

.entry-card {
	text-align: center;
	.no-decorators {
		text-decoration: none;
		color: unset;
	}
	.read-more {
		@extend .is-pulled-right
	}
}