@charset "utf-8";
@import "~bulma/sass/utilities/initial-variables";              // cSpell: disable-line

$navbar-item-hover-background-color: #aaa;
$menu-item-color: $white-ter;
$menu-item-hover-color: $black !important;

@import "~bulma/bulma.sass";  // cSpell: disable-line

.navbar {
	@extend .is-dark;

	@media screen and (max-width: $desktop - 1 ) {
		.is-active {
			background-image: linear-gradient(#363636, #585858);
			
		}
		
		.navbar-burger {
			background-image: unset;
		}
	
		.navbar-item {
			color: $white-ter;
			&:hover {
				color: black;
			}
		}
	}
}

.footer {
  padding: 3rem 0rem 0rem;
	background-color: #363636;

	.logo {
		text-align: center;
	}

	.social {
		text-align: center;
		img {
			margin: 0.5em;
			width: 2em;
		}
	}

	.made-with-love {
		text-align: center;
		color: white;
	}
}

.entry-card {
	text-align: center;
	.no-decorators {
		text-decoration: none;
		color: unset;
	}
	.read-more {
		@extend .is-pulled-right
	}
}
