
.trip-planner{
	// .wish-to-go.trip-panel
	// 	// .column
	// 	// 	padding: 0
	.login-provider-buttons {
		.button {
			justify-content: unset;
			display: unset;
		}
		.column {
			padding: 0
		}
	}
}

.view-panel {
	.controller-container {
		box-sizing: unset;
	}
}

.wish-counter-widget {
	font-size: 20pt;
}

.stick-to-bottom {
	position: fixed;
	bottom: 0;
	right: 0;
}

